# MLflow
mlruns/
mlartifacts/
mlflow.db

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Datos (muy pesados para GitHub)
data/raw/*.csv
data/processed/*.csv
data/processed/*.pkl

# === Python ===
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
*.env

# === Modelos binarios ===
*.pkl
*.joblib
*.h5
*.pt